




.indexBackground{
			background-color:#008500;
			
			}



.ui-btn-inner ui-btn-corner-all{

color:white;


}

.ui.header{
			background: -webkit-linear-gradient(#811217, #c1272d);


}
h2{

			color: orange;
			font: normal small-caps bold 20px "Times New Roman";
			}

.ui-title{
			color:white;
			font: normal small-caps bold 34px "Chalkduster";
			
			}
			


