



<<<<<<< HEAD

.indexBackground{
			background-color:#008500;
			
			}



.ui-btn-inner ui-btn-corner-all{

color:white;


}

.ui.header{
			background: -webkit-linear-gradient(#811217, #c1272d);


}
h2{

			color: orange;
			font: normal small-caps bold 20px "Times New Roman";
			}

.ui-title{
			color:white;
			font: normal small-caps bold 34px "Chalkduster";
			
			}
=======
AVF CSS

.backgroundImage	{background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJvwsX5jichT_UPf5pE1wHW_QxBvqFDc1vnHWnqquDFIGxzDpXXg');


}

.title{
		font-size:50px;
		text-align:center;
		color:black;
		


}
h1, h2, h3 {
	margin: 5px;
	padding: 5px;
	text-transform: uppercase;
	font-weight: 300;
	color: white;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

a:hover {
}

p1{
		color:green;
		padding-left:425px;

}

p{
		color:blue;

}

/* Landing Page Title */
#logo h1, #logo p {
	text-align: center;
}

#logo h1 {
	padding: 50px 0px 0px 0px;
	letter-spacing: -6px;
	text-transform: lowercase;
	font-size: 60px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #3C342E;
}

/* Splash */

#splash {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
	border-bottom: 1px dashed #E7E2DC;
	letter-spacing: -3px;
	text-align: center;
	font-size: 48px;
}



/* Header */

.menu-wrapper {
	overflow: hidden;
	height: 52px;
	margin-bottom: 2em;
	background: #000000;
}


#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 30px;
	line-height: 52px;
	border: none;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a {
	text-align:center;
}

#menu .current_page_item a {
}

/* Three Section Content */

.three-column {
	overflow: hidden;
	padding: 10px 0px 50px 0px;
}

.box-style {
	background: #34D0BA;
	text-align: center;
	
	

}

.box-style .arrow {
}

.box-style .content {
	overflow: hidden;
	width: 1024px;
	padding: 65px;
	
}
/*landing page buttons*/
.button
{
	display: inline-block;
    height: 30px;
    width: 200px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
    color: white;
    text-align:center;
    padding-top:35px;
    font: 12pt, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background: -webkit-linear-gradient(top, #34696f, #2f5f63);
    background: -moz-linear-gradient(top, #34696f, #2f5f63);
    background: -o-linear-gradient(top, #34696f, #2f5f63);
    background: -ms-linear-gradient(top, #34696f, #2f5f63);
    background: linear-gradient(top, #34696f, #2f5f63);
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
     
}
 
/*Step 3: Link Styles*/
a.button2 {
    text-decoration: none;
}
 
/*Step 5: Hover Styles*/
a.button:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}

}
#tweetList li:first-child		/* This is for the first li in the twitterList listview */
	{ 
		color: #ffffff;
		text-shadow: 2px 2px 2px #000000;
		background: -webkit-linear-gradient(#811217, #c1272d);
		padding-top: 30px;
		padding-bottom: 30px;
		margin-left: -100px;
		margin-right: -100px;
	}

	ul#tweetList.ui-listview		/* This is for the twitterList listview */
	{
		margin-left: 200px;
		margin-right: 200px;
	}

	#tweetList ul:first-child		/* This is for the padding between the title and text */
	{
		padding: 5px;
	}

	.ui-li.ui-li-static		/* This is for the each li */ 
	{
		margin-bottom: 10px;
		background-color: #ffffff;
		border-color: #000000;
		border-width: 2px;
	}

>>>>>>> gh-pages
			


